@import '~@/default.less';
.DataPanel {
    height: 400px;
    overflow: hidden;
    .btns {
        position: absolute;
        display: flex;
        width: 340px;
        right: 10px;
        top: 63px;
        z-index: 1;
        ;
    }
    :global(.ant-tabs-bar) {
        margin-bottom: 10px;
    }
    .panel {
        height: 340px;
    }
}