@import '~@/default.less';
.LayerControl {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    .layers,
    .editpanel {
        flex: 1;
        overflow: auto;
        border: 1px solid #eee;
        border-radius: 3px;
        padding: 5px;
    }
    .layers {
        margin-top: 10px;
    }
    .editpanel {
        flex: 2;
    }
}